body {
}

.col-sm-3, .col-sm-9 {
    padding-top: 16px;
}

.identity {
    background-image: url('Images/paper-texture.jpg');
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: auto;
    max-width: 480px;
    border-radius: 5px;
}

identity:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.identity img {
    padding-top: 16px;
    padding-bottom: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.identity .info {
    padding: 0 16px 16px 16px;
}

.identity ul {
    -webkit-padding-start: 0;
    list-style: none;
}

.title {
    font-weight: bold;
}