<!DOCTYPE html>
<html style="height:100%">
<head>
    <title>Secret Identity Creator</title>
	<meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="App.css" rel="stylesheet" />
</head>
<body class="totalBackgroundImage" ng-app="app" ng-controller="mainCtrl">
    <nav style="background-image:url('Images/paper-texture.jpg')" class="navbar navbar-light bg-faded">
        <div class="navbar-brand">Secret Identity Creator</div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <!-- Put the form in this area -->
                <form class="identity info"style="padding:1em" ng-submit="findNewIdent()">
                    <h6 class="text-center">Input a seed value, or input gender and nation info.</h6>
                    <div class="form-group">
                        <label for="seed">Seed</label>
                        <input ng-model="seed" class="form-control" type="text" id="seed" />
                    </div>
                    <hr />
                    <div class="form-group">
                        <label for="Nation-Code">Nation Code</label>
                        <select ng-model="countryCode" class="form-control" id="Nation-Code">
                            <option>AU</option>
                            <option>BR</option>
                            <option>CA</option>
                            <option>CH</option>
                            <option>DE</option>
                            <option>DK</option>
                            <option>ES</option>
                            <option>FI</option>
                            <option>FR</option>
                            <option>GB</option>
                            <option>IE</option>
                            <option>IR</option>
                            <option>NL</option>
                            <option>NZ</option>
                            <option>TR</option>
                            <option selected>US</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" ng-model="gender" type="radio" name="gender" id="male-gender" value="male" />
                                Male
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" ng-model="gender" type="radio" name="gender" id="female-gender" value="female" />
                                Female
                            </label>
                        </div>
                    </div>
                    
                        <button type="submit" class="btn btn-outline-primary btn-block">Get New Identity</button>
                        <button type="button" ng-click="findRandomIdent()" class="btn btn-outline-primary btn-block">Find Random Identity</button>
                    
                </form>
            </div>
            <div class="col-sm-9">
                <div class="centerInSpace">
                    <div class="identity">
                        <img ng-src="{{ident.pictureURL}}">
                        <ul class="info">
                            <li><span class="title">Name:</span> {{ident.name}}</li>
                            <li><span class="title">Address:</span> {{ident.street}}</li>
                            <li><span class="title">City:</span> {{ident.city}}</li>
                            <li><span class="title">State:</span> {{ident.state}}</li>
                            <li><span class="title">Postal Code:</span> {{ident.postCode}}</li>
                            <li><span class="title">Email Address:</span> {{ident.email}}</li>
                            <li><span class="title">Date of Birth:</span> {{ident.dateOfBirth}}</li>
                            <li><span class="title">Phone Number:</span> {{ident.phone}}</li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <script src="App.js"></script>
    <script src="Scripts/jquery-1.9.1.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
</body>
</html>
